html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, pre, code, address, variable, form, fieldset, blockquote {
 padding: 0;
 margin: 0;
 font-size: 100%;
 font-weight: normal;
}

body {
	background : gray;
}

h1 {
    font-family: Arial;
    font-size: 200%;
    text-align: center;
}

#TaskStatuses {
    width: 80%;
	text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.TaskName {
	text-align: left;
	width: 20%;
}
.TaskDescription {
	text-align: left;
	width: 60%;
}

#TaskStatuses td {
    font-family: serif;
    background-color: darkgray;
    color: black;
}

#TaskStatuses .StatusNew {
	background-color: green;
}

#TaskStatuses .StatusRunning {
	background-color: yellow;
}

#TaskStatuses .StatusCompleted {
	background-color: darkgreen;
}

#TaskStatuses .StatusUnknown {
	background-color: red;
}

#TaskStatuses .StatusError {
	background-color: red;
}